{% extends 'main.html' %}

{% block header_text %}
    <p>Clientes</p>
{% endblock %}

{% block content %}
    <div id="clientes">
        {% for cliente in clientes %}
        <div id="cliente">
            <p><strong>Nome: </strong>{{cliente.nome}}</p>
            <p><strong>Sobrenome: </strong>{{cliente.sobrenome}}</p>
            <p><strong>Endereço: </strong>{{cliente.endereco}}</p>
            <p><strong>Telefone: </strong>{{cliente.telefone}}</p> 
            <p><strong>Carros cadastrados: </strong>{{cliente.numero_carros}}</p>
            <a href="{% url 'deletecliente' cliente.id %}">Excluir</a>
        </div>
        {% endfor %}
        <a href="/addcliente/"><div id="addcliente"><img src="https://i.ibb.co/m8cND62/imagem-2023-11-15-134830153.png" alt=""></div></a>
    </div>
{% endblock %}