{% extends 'main.html' %}

{% block header_text %}
    <p>Equipes</p>
{% endblock %}

{% block content %}
    <div id="clientes">
        {% for equipe in equipes %}
        <div id="cliente">
            <p><strong>Nome: </strong>{{equipe.nome}}</p>
            <a href="{% url 'deleteequipe' equipe.id %}">Excluir</a>
            <a style="color: blue;" href="{% url 'editequipe' equipe.id %}">Editar</a>
        </div>
        {% endfor %}
        <a href="/addequipe/"><div id="addcliente"><img src="https://i.ibb.co/m8cND62/imagem-2023-11-15-134830153.png" alt=""></div></a>
    </div>
{% endblock %}