{% extends 'main.html' %}

{% block header_text %}
    <p>Peças</p>
{% endblock %}

{% block content %}
    <div id="clientes">
        {% for peca in pecas %}
        <div id="cliente">
            <p><strong>Nome: </strong>{{peca.nome}}</p>
            <p><strong>Preço: </strong>{{peca.preco}}</p>
            <a href="{% url 'deletepeca' peca.id %}">Excluir</a>
            <a style="color: blue;" href="{% url 'editpeca' peca.id %}">Editar</a>
        </div>
        {% endfor %}
        <a href="/addpeca/"><div id="addcliente"><img src="https://i.ibb.co/wKPprcd/imagem-2023-12-04-185253565.png" alt=""></div></a>
    </div>
{% endblock %}