{% extends 'main.html' %}

{% block header_text %}
    <p>Carros</p>
{% endblock %}

{% block content %}
    <div id="clientes">
        {% for carro in carros %}
        <div id="cliente">
            <p><strong>Marca: </strong>{{carro.marca}}</p>
            <p><strong>Modelo: </strong>{{carro.modelo}}</p>
            <p><strong>Placa: </strong>{{carro.placa}}</p>
            <p><strong>Proprietario: </strong>{{carro.cliente}}</p>
            <a href="{% url 'deletecarro' carro.id %}">Excluir</a>
            <a style="color: blue;" href="{% url 'editcarro' carro.id %}">Editar</a>
        </div>
        {% endfor %}
        <a href="/addcarro/"><div id="addcliente"><img src="https://i.ibb.co/m8cND62/imagem-2023-11-15-134830153.png" alt=""></div></a>
    </div>
{% endblock %}