{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina Rugal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Tinos&display=swap" rel="stylesheet">
</head>
<body id="bodyMain">
    <header>
        <div id="headerDiv">
            <div id="logoHeader">
                <img src="https://i.ibb.co/LhgzRZK/rugal-autopecas-preto.png" alt="">
            </div>
            <div id="linhasHeader">
                <div id="linha1Header" style="display: flex;">
                    <p>Oficina Rugal - Sistema</p>
                    <p style="margin-left: 15vw;"><a href="/mecanicos/">Mecânicos</a></p>
                    <p><a href="/equipes/">Equipes</a></p>
                    <div id="admin" style="margin-left: 33vw; display: flex;">
                        <a href="/adm/"><p>admin</p></a>
                        <img src="https://i.ibb.co/YTjrWwS/usuario-do-circulo-1.png" alt="">
                    </div>
                </div>
                <div id="linha2Header">
                    {% block header_text %}
                        <p>Dashboard</p>
                    {% endblock %}
                </div>
            </div>
        </div> 
    </header>
    <div id="navMain" style="display: flex;">
        <nav>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/C502yR0/imagem-2023-11-06-215727156.png" alt="">
                <p><a href="/dashboard/">Dashboard</a></p>
            </div>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/Jmn4VKD/imagem-2023-11-06-220410672.png" alt="">
                <p><a href="/carros/">Veículos</a></p>
            </div>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/Tvy3Cyb/imagem-2023-11-06-220443762.png" alt="">
                <p><a href="/pecas/">Peças</a></p>
            </div>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/Y2sVhYJ/imagem-2023-11-06-220507588.png" alt="">
                <p><a href="/ordens/">Ordens</a></p>
            </div>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/HrpDg41/imagem-2023-11-06-220535557.png" alt="">
                <p><a href="/servicos/">Serviços</a></p>
            </div>
            <div id="negocios" style="display: flex;">
                <img src="https://i.ibb.co/8s3ZbPB/imagem-2023-12-03-111445279.png" alt="">
                <p><a href="/clientes/">Clientes</a></p>
            </div>
        </nav>
        <main>
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main> 
    </div>
    
    <footer style="height: 3.264vw; width: 100%; background-color: black; margin-top: 2vw;">
    </footer>
</body>
</html>